.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer {
  background-color: #282c34;
  min-height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  font-size: calc( 1px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.styleCards
{
  
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex: 1 1;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-left: .25rem;
  margin-right: .25rem;
  padding: .25rem;
  position: relative;
  transition: all .1s ease-in-out;
/*background: rgba(255,7,58,.12549);*/
  /*color: rgba(255,7,58,.6);*/
  width: 100%;
  height:auto;

}

.styleCardsParent
{ display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 !important;
  padding: 0; 
  padding-top: 2%;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  z-index: 10;
}

  .makeGrey{
    background : rgba(108,117,125,.0627451) !important;
    color : rgba(108,117,125,.6);
    
  }
  .makeRed{

    background: rgba(255,7,58,.12549) !important;
    color:rgba(255,7,58,.6);

    
  }
  .makeGreen{

    background: rgba(40,167,69,.12549) !important; 
    color: #28a745;
  }
  .makeBlue{

    background: rgba(0,123,255,.0627451) !important;
    color: #007bff;
  }

  .Dropdown-root{

    width: 100%;
    margin-left: 0%;
    text-align: left;
    font-weight: bold;
    background-color: red;
  }

  .Dropdown-option
  {
  color: lightslategray;
  background-color: #f9f9f9;

  }

  .Dropdown-control
  {
background-color:  #f9f9f9 !important;

  }

  .header{
    width: 100%;
    height: 80px;
    background-color: #101010;
    display: block;
    min-height: 5vh;
  }
  .innerHeader{
    width: 50%;
    height: 100%;
    background-color: #101010;
    display: block;
    margin: 0 auto;
}
.logoContainer{
  height: 100%;
  display: table;
  float: left;
}
.linkContainer{
  height: 100%;
  display: table;
  float: right;
}
.linkContainer a{
  display:table-cell;
   vertical-align:middle; 
   padding-right:2%;
    font-size:small;
}
.logoContainer h1{
  color: red;
  height: 100%;
  display: table-cell;
  vertical-align: middle ;
  width:90%;
  margin:auto;
  font-weight: 800;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logoContainer h1 span{
  color: antiquewhite;
  font-weight: 400;
}
.navigation{
  float: right; 
  width: 80%;
  margin:auto;
  height: 100%;
  
}
.navigation a{
  float: left;
  height: 100%;
  display: table;
  padding: 0 2%;
  overflow: hidden;
}
 .navigation a:last-child{

  padding-right: 0;
}
.navigation a li{
  color: antiquewhite;
  vertical-align: middle;
  height: 100%;
  display: table-cell;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
} 


.rdg .rdg-header-row {
  /* npmbackground-color: rgba(108,117,125,.0627451) !important; */
  color:#6c757d !important ;
  font-weight: 800;
}
.rdg .rdg-row-even  {
  background-color: rgba(108,117,125,.0627451) !important;
  color:#6c757d !important ;
}
 .rdg .rdg-row-odd  {
  background-color: white !important;
  color:#6c757d !important ;
}
 .rdg .rdg-row:hover  {
  background-color: lightsteelblue !important;
  color: #000;
  font-weight: 700;
}

.titleClass{
  color: darkslategrey; font-weight: 750;font-family: 'Exo 2';  font-size: xx-large;
}

.canvasjs-chart-credit{
  display: none;
}


/* @media only screen and (max-width: 768px) {
  .cardHeader {
    font-size: 30px;
  }
  .cardTitle {
    font-size: 10px;
  }
  .cardText {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .cardHeader {
    font-size: 20px;
  }
  .cardTitle {
    font-size: 15px;
  }
  .cardText {
    font-size: 7px;
  }
} */

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
   
  display: grid;
   
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

@media only screen and (min-width: 500px) {
  .band {
    grid-template-columns: 1fr 1fr;
  }  
}
@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;

  position: relative;
top: 0;
transition: all .1s ease-in;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 20px;
}
 
/* typography */
.cardHeader {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
 
.card p { 
  line-height: 1.4;
}
 
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 2em 0 0 0;
}


@media only screen and (max-width: 850px) {
  .navigation {
    display: none;
  }  
  .rdg-header-row{
    font-size: x-small !important;
  }
  .rdg{
    font-size: smaller !important;
  }
}
@media only screen and (min-width: 850px) {
  .navigation {
    display: block;
  }  
}


/* .rdg-cell:focus {
  outline: none;
}
.rdg-selected {
  border: none !important;
} */